/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
    font-family: 'pixelsplitterregular';
    src: url('pixelsplitter-bold-webfont.eot');
    src: url('pixelsplitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pixelsplitter-bold-webfont.woff2') format('woff2'),
         url('pixelsplitter-bold-webfont.woff') format('woff'),
         url('pixelsplitter-bold-webfont.ttf') format('truetype'),
         url('pixelsplitter-bold-webfont.svg#pixelsplitterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
